@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: url("../assets/Path.png") no-repeat;
  background-position: left;
  background-position: 400px -200px;
  background-size: 75%;
  color: #091133;
}

p {
  color: #505f98;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  margin-bottom: 5rem;
}
.navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: #37447e;
}
.navbar .links a:hover {
  background: #fff;
  color: #000;
}
.navbar h1 {
  color: #37447e;
}
.navbar button {
  width: 12rem;
  height: 2rem;
  border-radius: 0;
  border: none;
  background-color: #37447e;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  height: 100vh;
}
.container .texts {
  padding: 5rem 10rem;
}
.container .texts h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.container .texts p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.container .texts .cta button {
  width: 12rem;
  height: 2rem;
  border-radius: 0;
  border: none;
  color: #fff;
  margin-right: 2rem;
}
.container .texts .cta button:first-child {
  background: #37447e;
}
.container .texts .cta button:last-child {
  background-color: transparent;
  border: 2px solid #091133;
  color: #37447e;
}
.container .img-container {
  position: relative;
  width: 100%;
}
.container .img-container img {
  width: 100%;
}

.about {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  height: 100vh;
}
.about .texts {
  flex: 1;
}
.about .texts h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.about .texts p {
  margin-bottom: 10px;
}
.about .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about .icons h4 {
  color: #37447e;
}
.about .icons .icon img {
  margin-bottom: 1rem;
}
.about .icons .icon h4 {
  margin-bottom: 0.5rem;
}
.about .icons .icon P {
  color: slategray;
}

.features {
  padding: 5rem 7rem;
  margin-bottom: 10rem;
}
.features .feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 2rem;
  height: 100vh;
}
.features .feature .texts {
  padding: 1rem;
}
.features .feature .texts h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.features .feature .img-container img {
  width: 480px;
  height: 315.85px;
}

.price {
  background: url("../assets/Rectangle.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25rem;
}
.price .title {
  margin-bottom: 1rem;
}
.price p {
  text-align: center;
}
.price .amount {
  margin: 3rem;
}
.price .amount h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.price .amount p {
  margin-bottom: 2rem;
}
.price button {
  width: 12rem;
  height: 2rem;
  border-radius: 0;
  border: none;
  background-color: #37447e;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 7rem;
  flex-wrap: wrap;
  background: url("../assets//Rectangle(1).png");
}
.footer .upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}
.footer .upper button {
  width: 12rem;
  height: 2rem;
  border-radius: 0;
  border: none;
  background-color: #37447e;
  color: hsl(0, 0%, 100%);
}
.footer .lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .lower .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .lower .links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: #37447e;
}
.footer .lower .links a:hover {
  background: #fff;
  color: #000;
}
.footer .lower box-icon {
  margin-right: 1rem;
}

@media screen and (max-width: 640px) {
  .navbar {
    padding: 1.3rem;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }
  .navbar .links {
    display: none;
  }
  .container {
    padding: 1rem;
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
    background-position: center;
  }
  .container .texts {
    padding: 0;
    text-align: center;
  }
  .container .texts .cta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container .texts .cta button {
    margin-bottom: 10px;
    width: 100%;
  }
  .container .img-container {
    display: none;
  }
  .about {
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .about .texts {
    padding: 0;
  }
  .about .texts .icons {
    flex-direction: column;
    gap: 20px;
  }
  .about .img-container {
    display: none;
  }
  .features {
    height: auto;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .features .feature {
    padding: 0;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .features .feature .img-container {
    padding: 0;
    width: 100%;
  }
  .features .feature .img-container img {
    width: 100%;
    left: 0;
    top: 0;
  }
  .features .feature .texts {
    padding: 0;
  }
  .price {
    width: 100%;
    padding: 1rem;
    text-align: center;
    height: 100vh;
  }
  .footer {
    padding: 1rem;
  }
  .footer .upper {
    flex-direction: column;
    gap: 5rem;
  }
  .footer .lower {
    flex-direction: column;
    gap: 5rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  body {
    padding: 3rem;
  }
  .navbar {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    padding: 0;
    height: auto;
    margin-bottom: 5rem;
  }
  .container .texts {
    padding: 0;
  }
  .container .img-container {
    display: none;
  }
  .about {
    margin-bottom: 5rem;
    height: auto;
    padding: 0;
  }
  .about .texts {
    padding: 0;
  }
  .about .img-container {
    display: none;
  }
  .features {
    padding: 0;
  }
  .features .feature {
    flex-direction: column;
    padding: 0;
    height: auto;
    margin-bottom: 3rem;
  }
  .features .feature .img-container {
    width: -2rem;
  }
  .price {
    margin-bottom: 0;
    padding: 3rem;
    background-repeat: no-repeat;
  }
  .footer {
    padding: 1rem;
  }
  .footer .upper {
    flex-direction: column;
    gap: 5rem;
  }
  .footer .lower {
    flex-direction: column;
    gap: 5rem;
  }
}/*# sourceMappingURL=style.css.map */